@inherits LayoutComponentBase
@inject CustomAuthStateProvider authProvider
<div class="">
    <div class="">
        <NavMenu/>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    <footer class="p-1  fixed-bottom" style="background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%)">
        <div class="container" >
            <div class="row">
                <div class="col-12">
                    hellop
                </div>
            </div>
        </div>
    </footer>
</div>
@code{

}