@page "/games"
@inherits AllGamesBase
@layout MainLayout
<div class="container">
    <PageTitle>All Board Games</PageTitle>
    <div class="row float-lg-start m-2 border">
        <form>
            <FilterForm></FilterForm>
        </form>
    </div>
    <div class="row">
        <DisplayProducts></DisplayProducts>
    </div>
</div>
