@page "/orders/create"
@layout MainLayout

<PageTitle>Створити замовлення</PageTitle>
<div class="container p-lg-2 border border-secondary border-3 justify-content-center">
        @if(InitErrorMessage == null && user == null)
        {
            <LoadingSpinner></LoadingSpinner>
        }
        else if(InitErrorMessage != null)
        {
            @InitErrorMessage
        }
        else
        {
        <div class="row m-2 justify-content-center ">
            <div class="col-lg-8 col-sm-10 p-2 border border-end border-2  text-center">
                @if (user == null)
                {
                    <LoadingSpinner></LoadingSpinner>
                }
                else
                {
                    <div class="row">
                        <label class="col-lg-4 col-sm-12 form-label m-1 p-2 justify-content-center  text-end" for="name">Ім`я</label>
                        <input class="col-lg-6 col-sm-12 form-text m-1 p-2 justify-content-center" id="name" @bind="user.Firstname" />
                    </div>
                    <div class="row">
                        <label class="col-lg-4 col-sm-12 form-label m-1 p-2 justify-content-center  text-end" for="last">Фамілія</label>
                        <input class="col-lg-6 col-sm-12 form-text m-1 p-2 justify-content-center" id="last" @bind="user.Lastname" />
                    </div>
                    <div class="row">
                        <label class="col-lg-4 col-sm-12 form-label m-1 p-2 justify-content-center  text-end" for="second">По батькові</label>
                        <input class="col-lg-6 col-sm-12 form-text m-1 p-2 justify-content-center" id="second" @bind="user.Secondname" />
                    </div>
                    <div class="row">
                        <label class="col-lg-4 col-sm-12 form-label m-1 p-2 justify-content-center  text-end" for="phone">Номер телефону</label>
                        <input class="col-lg-6 col-sm-12 form-text m-1 p-2 justify-content-center" id="phone" @bind="user.PhoneNumber" />
                    </div>
                }
            </div>
        </div>
            @if(OrdersByName == null)
            {
                <LoadingSpinner></LoadingSpinner>
            }
            else
            {
                @foreach (var order in OrdersByName)
                {
                    <div class="row m-2 justify-content-center ">
                        <div class="col-lg-8 col-sm-10 p-2 border border-end border-2  text-center">
                            <span>@order.Key</span>
                        </div>
                    </div>

                }
            }
        }
</div>
