@page "/DataCheck"
@inject HttpClient Http
<h3>GetDataCheck</h3>
<button class="btn btn-light" @onclick="GetWeather">Get some data</button>

@code {
    private WeatherForecast[]? forecasts;

    protected async Task GetWeather()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
    }
}
