@page "/login"
@layout MainLayout

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 border border-2 border-end">
            <form class="justify-content-center text-center">
                <div class="mb-3">
                    <label class="form-label" for="username">Логін</label>
                    <input class="form-text" id="username" @bind="@_userLoginDto.Username" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Пароль</label>
                    <input class="form-text" id="password" type="password" @bind="@_userLoginDto.Password" />
                </div>
                <button class="btn btn-primary m-1">Увійти</button>
            </form>
        </div>
    </div>
</div>
